<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div id="logo">
            <a href="">
                    <img src="{% static 'images/LOGO_SAOVANG_KT_THUE_TV_02_2.png' %}" alt="Không thể load logo!">
            </a>
        </div>
        <div class="right">
            <h1>CÔNG TY KẾ TOÁN VÀ TƯ VẤN SAO VÀNG</h1>
            <p class="dia_chi">Số 9 Phan Kế Bính, Phường Đa Kao, Quận 1, Tp.HCM, Việt Nam</p>
            <p>Tel: 
                <span>028.6283.3918</span> - 
                <span>0914.19.07.07</span> - 
                <span>0942.05.04.07</span> -
                Fax: <span>028.6283.3923</span>
            </p>
            <p>Email: <span>ngocthu@ketoansaovang.com</span></p>
        </div>
        <div class="sign_in_sign_out">
            <p>
                <a href="#">Đăng nhập</a> | <a href="#">Đăng ký</a>
            </p>
        </div>
    </header>

    <nav>
        <ul>
            {% for item in main_menu %}
            <li><a href="{{item.item.menu_link}}">{{ item.item }}</a>
                {% if item.children|length > 0 %}
                <ul>
                    {% for subitem in item.children %}
                    <li><a href="{{subitem.item.menu_link}}{{subitem.item.id}}">{{ subitem.item }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </nav>

    <div class="container">
        <img src="{% static 'images/keToanBanner.png' %}" alt="">

        <div class="left_content">
            {% block left_content %}{% endblock %}
        </div>
        
        <div class="right_content"></div>

    </div>

    <footer>
        <div class="content">
            <h3>TRỤ SỞ CHÍNH: QUẬN 1 - TP.HCM</h3>
            <p><span>Địa chỉ</span>: <span>Lầu 4, Số 9 Phan Kế Bính, P.Đa Kao, Quận 1, Tp.HCM</span></p>
            <p>
                <span>Tel</span>
                :
                <span>028.6283.3918 - 0914.19.07.07 - 0942.05.04.07</span>
            </p>
            <p>
                <span>Email</span>
                :
                <span>ngocthu@ketoansaovang.com</span>
            </p>
        </div>
        <div class="content">
            <h3>CHI NHÁNH BÌNH THẠNH - TP.HCM</h3>
            <p><span>Địa chỉ</span>: <span>P7-38.OT07, Park 7, Vinhomes Central Park, 720A Điện Biên Phủ, Bình Thạnh, Tp.HCM</span></p>
            <p>
                <span>Tel</span>
                :
                <span>028.6283.3918 - 0914.19.07.07 - 0942.05.04.07</span>
            </p>
            <p>
                <span>Email</span>
                :
                <span>ngocthu@ketoansaovang.com</span>
            </p>
        </div>
    </footer>
</body>
</html>