{% extends 'tintuc/tintuc_base.html' %}

{% block left_content %}

<div id="block_0">
    <div class="title"><h1>DỊCH VỤ CHÍNH</h1></div>
    <div class="body">
        <ul>
            <li><a href="#">Dịch vụ kế toán</a></li>
            <li><a href="#">Dịch vụ kế toán trưởng</a href="#"></li>
            <li><a href="#">Dịch vụ làm kế toán, kế toán trưởng, khai thuế, lao động, bảo hiểm xã hội hàng tháng</a href="#"></li>
            <li><a href="#">Dịch vụ lập báo cáo tài chính, sổ sách kế toán</a href="#"></li>
            <li><a href="#">Dịch vụ thủ tục thế</a href="#"></li>
            <li><a href="#">Dịch vụ khai thuế</a href="#"></li>
            <li><a href="#">Dịch vụ tư vấn thuế</a href="#"></li>
            <li><a href="#">Dịch vụ cho thê văn phòng đại diện</a href="#"></li>
            <li><a href="#">Dịch vụ hoàn thuế</a href="#"></li>
        </ul>

        <ul>
            <li><a href="#">Dịch vụ thành lập công ty có vốn đầu tư nước ngoài</a href="#"></li>
            <li><a href="#">Dịch vụ báo cáo tài chính</a href="#"></li>
            <li><a href="#">Dịch vụ đại lý thuế</a href="#"></li>
            <li><a href="#">Dịch vụ quyết toán thuế</a href="#"></li>
            <li><a href="#">Dịch vụ báo cáo thuế</a href="#"></li>
            <li><a href="#">Dịch vụ thành lập công ty</a href="#"></li>
            <li><a href="#">Dịch vụ giải thể công ty</a href="#"></li>
            <li><a href="#">Dịch vụ tính lương, thuế, lao động, bảo hiểm xã hội</a href="#"></li>
            <li><a href="#">Dịch vụ tư vấn kế toán</a href="#"></li>
        </ul>
        <!-- <div class="clear"></div> -->
    </div>
</div>

<div class="block">
    <div class="left_box">
        <div class="title">
            <h3>TIN TỨC</h3>
        </div>
        <div class="body">
            <div>
                <a href="#"><img src="images/150_20_1.jpg" alt=""></a>
                <div class="content">
                    <h4><a href="#">Xử phạt hành chính trong lĩnh vực kế toán</a></h4>
                    <p>Xử phạt vi phạm quy định về thuế làm dịch vụ ...</p>
                </div>
            </div>
            <ul>
                <li><a href="#">Tại sao doanh nghiệp cần thuể dịch vụ kế...</a></li>
                <li><a href="#">Điều kiện đăng ký hành nghề kế toán</a></li>
                <li><a href="#">Quyền và trách nhiệm của đại lý thuế</a></li>
            </ul>
        </div>

        <div class="view_more"><a href="#">Xem tiếp</a><span> >>&nbsp</span></div>
    </div>
    <div class="right_box">
        <div class="title">
            <h3>KIẾN THỨC - NGHIỆP VỤ</h3>
        </div>
        <div class="body">
            <div>
                <a href="#"><img src="images/150_LUAT_SAOVANG_02.png" alt=""></a>
                <div class="content">
                    <h4><a href="#">Công ty Kế toán đủ điều kiện hành nghề ...</a></h4>
                    <p>Xác nhận đủ điều kiện hành nghề kế toán</p>
                </div>
            </div>
            <ul>
                <li><a href="#">Một số hành vi vi phạm về kế toán cần lưu ý</a></li>
                <li><a href="#">Hướng dẫn thực hiện Chuẩn mực đạo đực ...</a></li>
                <li><a href="#">Quy chế kiểm soát chất lượng dịch vụ ...</a></li>
            </ul>
        </div>

        <div class="view_more"><a href="#">Xem tiếp</a><span> >>&nbsp</span></div>
    </div>
</div>

<div class="block nhan_mail">
    <form action="#" method="POST">
        <input type="button" value="ĐĂNG KÝ" id="dang_ky">
        <p class="hint">Đăng ký nhận thông tin dịch vụ qua Email</p>
        <input type="email" name="mail" id="mail">
        <input type="submit" value="Gửi" >
    </form>
</div>

<div class="block">
    <div class="left_box">
        <div class="title">
            <h3>TIN NỔI BẬT</h3>
        </div>
        <div class="body">
            <div>
                <a href="#"><img src="images/150_GOLDEN_STAR_4.png" alt=""></a>
                <div class="content">
                    <h4><a href="#">Xử phạt hành chính trong lĩnh vực kế toán</a></h4>
                    <p>Xử phạt vi phạm quy định về thuế làm dịch vụ ...</p>
                </div>
            </div>
            <ul>
                <li><a href="#">Tại sao doanh nghiệp cần thuể dịch vụ kế...</a></li>
                <li><a href="#">Điều kiện đăng ký hành nghề kế toán</a></li>
                <li><a href="#">Quyền và trách nhiệm của đại lý thuế</a></li>
            </ul>
        </div>

        <div class="view_more"><a href="#">Xem tiếp</a><span> >>&nbsp</span></div>
    </div>
    <div class="right_box">
        <div class="title">
            <h3>TIN  CỦA SAO VÀNG</h3>
        </div>
        <div class="body">
            <div>
                <a href="#"><img src="images/150_GOLDEN_STAR_4.png" alt=""></a>
                <div class="content">
                    <h4><a href="#">Công ty Kế toán đủ điều kiện hành nghề ...</a></h4>
                    <p>Xác nhận đủ điều kiện hành nghề kế toán</p>
                </div>
            </div>
            <ul>
                <li><a href="#">Một số hành vi vi phạm về kế toán cần lưu ý</a></li>
                <li><a href="#">Hướng dẫn thực hiện Chuẩn mực đạo đực ...</a></li>
                <li><a href="#">Quy chế kiểm soát chất lượng dịch vụ ...</a></li>
            </ul>
        </div>

        <div class="view_more"><a href="#">Xem tiếp</a><span> >>&nbsp</span></div>
    </div>
</div>

<div class="block block_images">
    <img src="images/keToanBanner_2.png" alt="">
</div>

<div class="block">
    <div class="left_box">
        <div class="title">
            <h3>VĂN BẢN</h3>
        </div>
        <div class="body">
            <div>
                <a href="#"><img src="images/150_LUAT_SAOVANG_01.png" alt=""></a>
                <div class="content">
                    <h4><a href="#">Xử phạt hành chính trong lĩnh vực kế toán</a></h4>
                    <p>Xử phạt vi phạm quy định về thuế làm dịch vụ ...</p>
                </div>
            </div>
            <ul>
                <li><a href="#">Tại sao doanh nghiệp cần thuể dịch vụ kế...</a></li>
                <li><a href="#">Điều kiện đăng ký hành nghề kế toán</a></li>
                <li><a href="#">Quyền và trách nhiệm của đại lý thuế</a></li>
            </ul>
        </div>

        <div class="view_more"><a href="#">Xem tiếp</a><span> >>&nbsp</span></div>
    </div>
    <div class="right_box">
        <div class="title">
            <h3>HỎI ĐÁP - TƯ VẤN</h3>
        </div>
        <div class="body full_test">
            <ul>
                <li><a href="#">Một số hành vi vi phạm về kế toán cần lưu ý</a></li>
                <li><a href="#">Hướng dẫn thực hiện Chuẩn mực đạo đực ...</a></li>
                <li><a href="#">Quy chế kiểm soát chất lượng dịch vụ ...</a></li>
                <li><a href="#">Một số hành vi vi phạm về kế toán cần lưu ý</a></li>
                <li><a href="#">Hướng dẫn thực hiện Chuẩn mực đạo đực ...</a></li>
                <li><a href="#">Quy chế kiểm soát chất lượng dịch vụ ...</a></li>
                <li><a href="#">Hướng dẫn thực hiện Chuẩn mực đạo đực ...</a></li>
            </ul>
        </div>

        <div class="view_more"><a href="#">Xem tiếp</a><span> >>&nbsp</span></div>
    </div>
</div>

<div class="block_1">
    <div class="left_box">
        <div class="title">
            <h3>KIẾN THỨC KINH DOANH</h3>
        </div>
        <div class="body">
            <div>
                <a href="#"><img src="images/50_32.jpg" alt=""></a>
                <div class="content">
                    <h4><a href="#">Xử phạt hành chính trong ...</a></h4>
                    <p>Xử phạt vi phạm quy định về thuế làm dịch vụ ...</p>
                </div>
            </div>

            <div>
                <a href="#"><img src="images/50_32.jpg" alt=""></a>
                <div class="content">
                    <h4><a href="#">Xử phạt hành chính trong ...</a></h4>
                    <p>Xử phạt vi phạm quy định về thuế làm dịch vụ ...</p>
                </div>
            </div>

            <div>
                <a href="#"><img src="images/50_32.jpg" alt=""></a>
                <div class="content">
                    <h4><a href="#">Xử phạt hành chính trong ...</a></h4>
                    <p>Xử phạt vi phạm quy định về thuế làm dịch vụ ...</p>
                </div>
            </div>
        </div>

        <div class="view_more"><a href="#">Xem tiếp</a><span> >>&nbsp</span></div>
    </div>
    <div class="right_box">
        <div class="title">
            <h3>TUYỂN DỤNG</h3>
        </div>
        <div class="body">
            <div>
                <a href="#"><img src="images/50_GOLDEN_STAR_150_150_1.png" alt=""></a>
                <div class="content">
                    <h4><a href="#">Công ty Kế toán đủ điều kiện ...</a></h4>
                    <p>Xác nhận đủ điều kiện hành nghề kế toán</p>
                </div>
            </div>
            
            <div>
                <a href="#"><img src="images/50_GOLDEN_STAR_150_150_1.png" alt=""></a>
                <div class="content">
                    <h4><a href="#">Công ty Kế toán đủ điều kiện ...</a></h4>
                    <p>Xác nhận đủ điều kiện hành nghề kế toán</p>
                </div>
            </div>

            <div>
                <a href="#"><img src="images/50_GOLDEN_STAR_150_150_1.png" alt=""></a>
                <div class="content">
                    <h4><a href="#">Công ty Kế toán đủ điều kiện ...</a></h4>
                    <p>Xác nhận đủ điều kiện hành nghề kế toán</p>
                </div>
            </div>
        </div>

        <div class="view_more"><a href="#">Xem tiếp</a><span> >>&nbsp</span></div>
    </div>
</div>

<div class="block block_images">
    <img src="images/keToanBanner_3.png" alt="">
</div>

<div class="block_1">
    <div class="left_box">
        <div class="title">
            <h3>KIẾN THỨC KINH DOANH</h3>
        </div>
        <div class="body">
            <div>
                <a href="#"><img src="images/50_32.jpg" alt=""></a>
                <div class="content">
                    <h4><a href="#">Xử phạt hành chính trong ...</a></h4>
                    <p>Xử phạt vi phạm quy định về thuế làm dịch vụ ...</p>
                </div>
            </div>

            <div>
                <a href="#"><img src="images/50_32.jpg" alt=""></a>
                <div class="content">
                    <h4><a href="#">Xử phạt hành chính trong ...</a></h4>
                    <p>Xử phạt vi phạm quy định về thuế làm dịch vụ ...</p>
                </div>
            </div>

            <div>
                <a href="#"><img src="images/50_32.jpg" alt=""></a>
                <div class="content">
                    <h4><a href="#">Xử phạt hành chính trong ...</a></h4>
                    <p>Xử phạt vi phạm quy định về thuế làm dịch vụ ...</p>
                </div>
            </div>
        </div>

        <div class="view_more"><a href="#">Xem tiếp</a><span> >>&nbsp</span></div>
    </div>
    <div class="right_box">
        <div class="title">
            <h3>TUYỂN DỤNG</h3>
        </div>
        <div class="body">
            <div>
                <a href="#"><img src="images/50_GOLDEN_STAR_150_150_1.png" alt=""></a>
                <div class="content">
                    <h4><a href="#">Công ty Kế toán đủ điều kiện ...</a></h4>
                    <p>Xác nhận đủ điều kiện hành nghề kế toán</p>
                </div>
            </div>
            
            <div>
                <a href="#"><img src="images/50_GOLDEN_STAR_150_150_1.png" alt=""></a>
                <div class="content">
                    <h4><a href="#">Công ty Kế toán đủ điều kiện ...</a></h4>
                    <p>Xác nhận đủ điều kiện hành nghề kế toán</p>
                </div>
            </div>

            <div>
                <a href="#"><img src="images/50_GOLDEN_STAR_150_150_1.png" alt=""></a>
                <div class="content">
                    <h4><a href="#">Công ty Kế toán đủ điều kiện ...</a></h4>
                    <p>Xác nhận đủ điều kiện hành nghề kế toán</p>
                </div>
            </div>
        </div>

        <div class="view_more"><a href="#">Xem tiếp</a><span> >>&nbsp</span></div>
    </div>
</div>
{% endblock %}