{% extends 'tintuc/tintuc_base.html' %}
{% load static %}
{% block left_content %}

<div id="block_0">
    <div class="title"><h1>DỊCH VỤ CHÍNH</h1></div>
    <div class="body">
        <ul>
            <li><a href="{% url 'chi_tiet_dich_vu' 1 %}">Dịch vụ kế toán</a></li>
            <li><a href="{% url 'chi_tiet_dich_vu' 2 %}">Dịch vụ kế toán trưởng</a></li>
            <li><a href="{% url 'chi_tiet_dich_vu' 6 %}">Dịch vụ làm kế toán, kế toán trưởng, khai thuế, lao động, bảo hiểm xã hội hàng tháng</a></li>
            <li><a href="{% url 'chi_tiet_dich_vu' 7 %}">Dịch vụ lập báo cáo tài chính, sổ sách kế toán</a></li>
            <li><a href="{% url 'chi_tiet_dich_vu' 8 %}">Dịch vụ thủ tục thuế</a></li>
            <li><a href="{% url 'chi_tiet_dich_vu' 9 %}">Dịch vụ khai thuế</a></li>
            <li><a href="{% url 'chi_tiet_dich_vu' 10 %}">Dịch vụ tư vấn thuế</a></li>
            <li><a href="{% url 'chi_tiet_dich_vu' 11 %}">Dịch vụ cho thê văn phòng đại diện</a></li>
            <li><a href="{% url 'chi_tiet_dich_vu' 12 %}">Dịch vụ hoàn thuế</a></li>
        </ul>

        <ul>
            <li><a href="{% url 'chi_tiet_dich_vu' 13 %}">Dịch vụ thành lập công ty có vốn đầu tư nước ngoài</a></li>
            <li><a href="{% url 'chi_tiet_dich_vu' 14 %}">Dịch vụ báo cáo tài chính</a></li>
            <li><a href="{% url 'chi_tiet_dich_vu' 15 %}">Dịch vụ đại lý thuế</a></li>
            <li><a href="{% url 'chi_tiet_dich_vu' 16 %}">Dịch vụ quyết toán thuế</a></li>
            <li><a href="{% url 'chi_tiet_dich_vu' 17 %}">Dịch vụ báo cáo thuế</a></li>
            <li><a href="{% url 'chi_tiet_dich_vu' 18 %}">Dịch vụ thành lập công ty</a></li>
            <li><a href="{% url 'chi_tiet_dich_vu' 19 %}">Dịch vụ giải thể công ty</a></li>
            <li><a href="{% url 'chi_tiet_dich_vu' 20 %}">Dịch vụ tính lương, thuế, lao động, bảo hiểm xã hội</a></li>
            <li><a href="{% url 'chi_tiet_dich_vu' 21 %}">Dịch vụ tư vấn kế toán</a></li>
        </ul>
        <!-- <div class="clear"></div> -->
    </div>
</div>

<div class="block">
    <div class="left_box">
        <div class="title">
            <h3>TIN TỨC</h3>
        </div>
        <div class="body">
            <div>
                <a href="{% url 'tin_tuc_chi_tiet' ds_tintuc.0.id %}"><img src="{{ ds_tintuc.0.image.url }}" alt=""></a>
                <div class="content">
                    <h4>
                        <a href="{% url 'tin_tuc_chi_tiet' ds_tintuc.0.id %}" title="{{ ds_tintuc.0.tieu_de }}">
                        {{ ds_tintuc.0.tieu_de|truncatewords:8 }}
                        </a>
                    </h4>
                    <p>
                        {{ ds_tintuc.0.mo_ta_ngan|truncatewords:8 }}
                    </p>
                </div>
            </div>
            <ul>
                {% for tintuc in ds_tintuc|slice:'1:' %}
                <li>
                    <a href="{% url 'tin_tuc_chi_tiet' tintuc.id %}" title="{{tintuc.tieu_de}}">
                        {{tintuc.tieu_de|truncatewords:8}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="view_more"><a href="{% url 'tintuc' %}">Xem tiếp</a><span> >>&nbsp</span></div>
    </div>
    <div class="right_box">
        <div class="title">
            <h3>KIẾN THỨC - NGHIỆP VỤ</h3>
        </div>
        <div class="body">
            <div>
                <a href="{% url 'quy_dinh_nghiep_vu_chi_tiet' ds_quydinhnghiepvu.0.id %}"><img src="{{ ds_quydinhnghiepvu.0.image.url }}" alt=""></a>
                <div class="content">
                    <h4>
                        <a href="{% url 'quy_dinh_nghiep_vu_chi_tiet' ds_quydinhnghiepvu.0.id %}" title="{{ ds_quydinhnghiepvu.0.tieu_de }}">
                            {{ ds_quydinhnghiepvu.0.tieu_de|truncatewords:8 }}
                        </a>
                    </h4>
                    <p>{{ ds_quydinhnghiepvu.0.mo_ta_ngan|truncatewords:8 }}</p>
                </div>
            </div>
            <ul>
                {% for item in ds_quydinhnghiepvu|slice:'1:' %}
                <li>
                    <a href="{% url 'quy_dinh_nghiep_vu_chi_tiet' item.id %}" title="{{ item.tieu_de }}">
                        {{ item.tieu_de|truncatewords:8 }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="view_more"><a href="{% url 'quy_dinh_nghiep_vu' %}">Xem tiếp</a><span> >>&nbsp</span></div>
    </div>
</div>

<!-- <div class="block nhan_mail">
    <form action="#" method="POST">
        <input type="button" value="ĐĂNG KÝ" id="dang_ky">
        <p class="hint">Đăng ký nhận thông tin dịch vụ qua Email</p>
        <input type="email" name="mail" id="mail">
        <input type="submit" value="Gửi" >
    </form>
</div> -->

<div class="block">
    <div class="left_box">
        <div class="title">
            <h3>TIN NỔI BẬT</h3>
        </div>
        <div class="body">
            <div>
                <a href="{% url 'tin_tuc_chi_tiet' ds_tintucnoibat.0.id %}"><img src="{{ds_tintucnoibat.0.image.url}}" alt=""></a>
                <div class="content">
                    <h4>
                        <a href="{% url 'tin_tuc_chi_tiet' ds_tintucnoibat.0.id %}" title="{{ds_tintucnoibat.0.tieu_de}}">
                            {{ds_tintucnoibat.0.tieu_de|truncatewords:8}}
                        </a>
                    </h4>
                    <p>{{ds_tintucnoibat.0.mo_ta_ngan|truncatewords:8}}</p>
                </div>
            </div>
            <ul>
                {% for item in ds_tintucnoibat|slice:'1:' %}
                <li>
                    <a href="{% url 'tin_tuc_chi_tiet' item.id %}" title="{{item.tieu_de}}">
                        {{item.tieu_de|truncatewords:8}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="view_more"><a href="{% url 'tintuc' %}">Xem tiếp</a><span> >>&nbsp</span></div>
    </div>
    <div class="right_box">
        <div class="title">
            <h3>TIN  CỦA SAO VÀNG</h3>
        </div>
        <div class="body">
            <div>
                <a href="{% url 'tin_tuc_chi_tiet' ds_tintucsaovang.0.id %}"><img src="{{ds_tintucsaovang.0.image.url}}" alt=""></a>
                <div class="content">
                    <h4>
                        <a href="{% url 'tin_tuc_chi_tiet' ds_tintucsaovang.0.id %}" title="{{ds_tintucsaovang.0.tieu_de}}">
                            {{ds_tintucsaovang.0.tieu_de|truncatewords:8}}
                        </a>
                    </h4>
                    <p>{{ds_tintucsaovang.0.mo_ta_ngan|truncatewords:8}}</p>
                </div>
            </div>
            <ul>
                {% for item in ds_tintucsaovang|slice:'1:' %}
                <li>
                    <a href="{% url 'tin_tuc_chi_tiet' item.id %}" title="{{item.tieu_de}}">
                        {{item.tieu_de|truncatewords:8}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="view_more"><a href="{% url 'tin_tuc_theo_loai' ds_tintucsaovang.0.menu.id %}">Xem tiếp</a><span> >>&nbsp</span></div>
    </div>
</div>

<div class="block block_images">
    <img src="{% static 'images/keToanBanner_2.png' %}" alt="">
</div>

<div class="block">
    <div class="left_box">
        <div class="title">
            <h3>VĂN BẢN</h3>
        </div>
        <div class="body">
            <div>
                <a href="#"><img src="{% if ds_vanban.0.image %} {{ds_vanban.0.image.url}} {% endif %}" alt=""></a>
                <div class="content">
                    <h4>
                        <a href="{% url 'van_ban_chi_tiet' ds_vanban.0.id %}" title="{{ ds_vanban.0.tieu_de }}">
                            {{ ds_vanban.0.tieu_de|truncatewords:6 }}
                        </a>
                    </h4>
                </div>
            </div>
            <ul>
                {% for item in ds_vanban|slice:'1:' %}
                <li>
                    <a href="{% url 'van_ban_chi_tiet' item.id %}" title="{{ item.tieu_de }}">
                        {{ item.tieu_de|truncatewords:6 }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="view_more"><a href="{% url 'ban_ban' %}">Xem tiếp</a><span> >>&nbsp</span></div>
    </div>
    <div class="right_box">
        <div class="title">
            <h3>HỎI ĐÁP - TƯ VẤN</h3>
        </div>
        <div class="body full_test">
            <ul>
                {% for tra_loi in ds_hoidap %}
                <li>
                    <a href="{% url 'hoi_dap_chi_tiet' tra_loi.cau_hoi.id %}" title="{{tra_loi.cau_hoi}}">
                        {{tra_loi.cau_hoi|truncatewords:8}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="view_more"><a href="{% url 'hoi_dap' %}">Xem tiếp</a><span> >>&nbsp</span></div>
    </div>
</div>

<div class="block_1">
    <div class="left_box">
        <div class="title">
            <h3>KIẾN THỨC KINH DOANH</h3>
        </div>
        <div class="body">
            {% for kinhnghiemkienthuc in ds_kinhnghiemkienthuc %}
            <div>
                <a href="{% url 'tin_tuc_chi_tiet' kinhnghiemkienthuc.id %}"><img src="{{kinhnghiemkienthuc.image.url}}" alt=""></a>
                <div class="content">
                    <h4><a href="#">{{kinhnghiemkienthuc.tieu_de|truncatewords:6}}</a></h4>
                    <p>{{kinhnghiemkienthuc.mo_ta_ngan|truncatewords:10}}</p>
                </div>
            </div>
            {% endfor %}             
        </div>

        <div class="view_more"><a href="{% url 'tin_tuc_theo_loai' ds_kinhnghiemkienthuc.0.menu.id %}">Xem tiếp</a><span> >>&nbsp</span></div>
    </div>
    <div class="right_box">
        <div class="title">
            <h3>TUYỂN DỤNG</h3>
        </div>
        <div class="body">
            {% for tuyendung in ds_tuyendung %}
            <div>
                <a href="{% url 'tuyen_dung_chi_tiet' tuyendung.id %}"><img src="{{tuyendung.image.url}}" alt=""></a>
                <div class="content">
                    <h4>
                        <a href="{% url 'tuyen_dung_chi_tiet' tuyendung.id %}" title="{{tuyendung.tieu_de}}">
                            {{tuyendung.tieu_de|truncatewords:6}}
                        </a>
                    </h4>
                    <p>{{tuyendung.mo_ta_ngan|truncatewords:10}}</p>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="view_more"><a href="{% url 'tuyen_dung' %}">Xem tiếp</a><span> >>&nbsp</span></div>
    </div>
</div>
{% endblock %}